<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <meta charset="utf-8">
    <title>e-book Library</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css" />
</head>

<body onload="getBookList(event);">
    <div style="padding-bottom:20px">
        <h1>e-book Library</h1>
    </div>
    <div class="jumbotron">
        <div class="container centralize">
            <div id="bookList" class="card row" style="width:100%;"></div>
            
                <a class="btn btn-primary" href="../index.html">Add more books</a>
            
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="../scripts/main.js"></script>
</body>

</html>