/* An iput text box with an invalid entry */
input:invalid {
    border: .5px dashed rgb(189, 73, 73);
    
  }

/* An iput text box with a valid entry */
input:valid {
    border: 1px solid rgba(0, 0, 0, 0.534);
  }
h1 {
    text-align: center;
}
form label {
     display: block; 
    }
.centralize {
    width: 700px
}

.card-block span {
    width: 100%;
    display: inline-block;
}
/* A single card on book listing page */
.book-title {
    border: blue;
    background-color: rosybrown;
    border-color: rgb(202, 3, 3);
    border-width: 4px 4px 4px 4px;
}
/* Tile properties */
.book-tile {
    min-height: 162px;
    padding: 10px;
    
}
/* Border of tile */
.book-tile > div{
    border: 1px solid rosybrown;    
}

/* Colors the text red */
.red {
    color: red;
}
